// color vars
$main-color: #3a3f2a;
$dark-blue: #143569;
$blue-gray: #6c7fa2;
$link-blue: #1B95E0;
$yellow: #ffe277;
$yellow-darker: #ead370;
$yellow-lighter: #fff1bc;
$red: #ee726e;
$red-dark: #b74243;
$light-gray: #f1f1f1;
$gray: #cbcbcb;
$dark-gray: #273346;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient($dark-gray, $blue-gray);
  color: $main-color;
  font-size: 18px;
}

.relative{ position: relative }

.logo{
  color: $yellow;
  text-decoration: none;
  &:hover{
    transition: all 0.5s ease-in-out;
    text-decoration: underline;
    color: $yellow-darker;
  }
}

button:focus, textarea:focus, select:focus{
  outline: none;
}
.container{
  height: 100vh;
  overflow: auto;
}
.nav{
  position: fixed;
  top: 0rem;
  margin: 1rem;
  width: 15rem;
}
.copy{
  color: #FFF;
  font: 500 0.75rem/1 "Open Sans", sans-serif;
  margin-top: 1rem;
}
h1{
  font: 300 2.25rem/0.85 'Roboto', sans-serif;
  color: $yellow;
  margin-bottom: 1rem;
  span{
    font-weight: 500;
  }
}
h2{
  color: white;
  font: 500 1rem/1.25 "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
.social i{
  color: $red;
  margin-right: 1rem;
  transition: all 0.1s ease-in-out;
  &:hover{
    color: $red-dark;
    transform: scale(1.2,1.2);
  }
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $blue-gray;
  margin: 0;
  padding: 0;
}
.feedContainer{
  max-width: 45rem;
  margin: 3rem auto;
}
.loading-info{
  color: #FFF;
  text-align: center;
  font: 500 1rem/1 "Open Sans", sans-serif;
  margin-top: 2rem;
  i{
    margin-right: 0.5rem;
  }
}
.add-yours{
  display: none;
  width: 7rem;
  font: 700 1rem/1 "Open Sans", sans-serif;
  text-align: center;
  padding: 0.75rem 2rem;
  margin: 2rem auto 0;
  border-radius: 50px;
  color: $yellow;
  background: $red;
}

/* add new superstition form */
.add-superstition-form{
  background-color: $yellow;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
.new-superstition-text{
  width: 100%;
  height: 130px;
  border: none;
  font: 300 2rem/1.5 "Open Sans", sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  resize: none;
  &:focus{
    border-color: $red;
    box-shadow: 0 0 0 2px $red;
  }
}
.options-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
select{
  max-width: 14rem;
  height: 2.25rem;
  font: 300 1rem/1.7 'Open Sans', sans-serif;
  border: none;
}
.submit-superstition-btn{
  padding: 0.75rem 2.5rem;
  margin: 1rem auto 0;
  display: block;
  background-color: $red;
  border: none;
  color: $yellow;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  &:hover:not(:disabled){
    background-color: $red-dark;
  }
  &:disabled:hover{
    cursor: default;
  }
}

/* radio buttons */
.form-radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: $light-gray;
  height: 1.875rem;
  width: 1.875rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 0;
  outline: none;
  vertical-align: middle;
  transition: all 0.1s ease-in-out;
  &:hover{
    background-color: $light-gray;
    transform: scale(1.2,1.2);
  }
  &:checked{
    background-color: $light-gray;
    &:before{
      position: absolute;
      font: 0.75rem/1 'Open Sans', sans-serif;
      left: 11px;
      top: 7px;
      color: $red;
      content: '\02143';
      transform: rotate(40deg);
    }
  }
}
label{
  font: 300 1rem/1 'Open Sans', sans-serif;
  cursor: pointer;
  margin-right: 0.5rem;
}

/* feed */
.superstition-list{
  list-style-type: none;
  padding: 0;
  li{
    margin-bottom: 1rem;
    border-radius: 0.25rem;
  }
  & > li:not(.highlight){
    background: #FFF;
  }
}
.superstition-text{
  padding: 1rem;
}
.info{
  padding: 0.5rem 1rem 0;
  line-height: 1.5rem;
  font: 400 0.875rem/1.5 'Open Sans', sans-serif;
  color: $blue-gray;
}

/* superstition page */
.superstition-page .superstition-list li{
  background: $yellow-lighter;
  .superstition-text {
    padding: 2rem 1rem;
  }
  .comments{
    margin-top: 1rem;
  }
  hr{
    border-top: 1px solid $yellow-darker;
  }
}
.sup-nav{
  display: flex;
  justify-content: space-between;
  a{
    &:only-child {
      margin-left: auto;
    }
    i{
      color: $red;
      font-size: 2rem;
      transition: all 0.1s ease-in-out;
    }
    &:hover i{
      color: $red-dark;
      transform: scale(1.2,1.2);
    }
  }
}

/* comments */
.comments{
  display: none;
  transition: all 0.5s ease-in-out;
  &.open{
    display: block;
    transition: all 0.5s ease-in-out;
    margin-bottom: 3rem;
  }
  form{
    position: relative;
    margin: 1rem;
  }
  textarea{
    width: 100%;
    resize: none;
    border-color: $gray;
    box-shadow: 0 0 0 2px $gray;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    &.has-input{
      border-color: $red;
      box-shadow: 0 0 0 2px $red;
    }
  }
}
.comment-list{
  list-style-type: none;
  padding: 0;
  li{
    margin-bottom: 1rem;
    .comment-text{
      padding: 0 1rem;
    }
  }
}
.add-comment-btn{
  position: absolute;
  bottom: -25px;
  right: 15px;
  background: $red;
  color: white;
  font: 700 0.75rem/1 "Open Sans", sans-serif;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
  &:disabled{
    background: $gray;
    cursor: initial;
  }
}
.actions{
  padding: 0.5rem 1rem;
  .count{
    font: 400 0.875rem/1.5 'Open Sans', sans-serif;
    vertical-align: bottom;
    color: $blue-gray;
  }
}
.comments-icon, .upvotes{
  width: 4rem;
  display: inline-block;
}
.upvotes i, .comments-icon i{
  color: $red;
  margin-right: 0.5rem;
}
.empty-heart{
  transition: all 0.1s ease-in-out;
}
.empty-heart:hover i, .comments-icon:hover i{
  color: $red-dark;
  transform: scale(1.2,1.2);
  cursor: pointer;
}
.info i{
  font-size: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.info-box{
  margin-right: 1rem;
  min-width: 7rem;
  display: inline-block;
  a{
    color: $blue-gray;
    &:hover{
      color: $link-blue;
    }
  }
}

/* popularity highlights */
.highlight{
  border-radius: 3px;
  color: #000;
}
.popular{
  background-color: $yellow;
}
.very-popular{
  background-color: $yellow-darker;
}
.pretty-popular{
  background-color: $yellow-lighter;
}

/* not found page */
.not-found{
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  a{
    color: #FFF;
  }
  i{
    font-size: 3rem;
    margin: 2rem 0;
    transition: all 0.1s ease-in-out;
    &:hover{
      color: #000;
      transform: scale(1.2,1.2);
    }
  }
}

.sn-icons{
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  opacity: 0.2;
}
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}
.slower-spin {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}
.sn-icons i:nth-of-type(1){
  position: absolute;
  bottom: 2.2rem;
  right: 7rem;
  font-size: 2.5rem;
}
.sn-icons i:nth-of-type(2){
  position: absolute;
  bottom: 4.5rem;
  right: 4rem;
  font-size: 2.5rem;
}
.sn-icons i:nth-of-type(3){
  position: absolute;
  right: 4rem;
}
.sn-icons i:nth-of-type(4){
  position: absolute;
  bottom: 4.5rem;
  right: 1.5rem;
}

/* media queries */
@media (max-width: 767px) {
  .nav{
    position: static;
    width: auto;
  }
  h1{
    width: 15rem;
  }
  .new-superstition-text{
    height: 230px;
  }
  .feedContainer{
    margin: 1rem;
  }
  .options-container{
    display: block;
  }
  .country-select{
    margin: 1rem 0;
  }
  .info-box{
    margin-right: 1rem;
    min-width: auto;
    display: inline;
  }
  .add-superstition-form{
    height: 0;
    opacity: 0;
    display: none;
    &.display-form{
      display: block;
      height: 100%;
      opacity: 1;
      transition: all 1s ease-out;
    }
    &:not(.display-form) textarea{
      height: 0;
    }
  }
  .submit-superstition-btn{
    margin: 2rem auto 1rem;
  }
  .add-yours{
    display: block;
    &.hide{
      opacity: 0;
      height: 0;
      transition: all 0.1s ease-out;
    }
  }
  .add-comment-btn{
    width: calc(100% + 4px);
    left: -2px;
    right: 0;
    bottom: -33px;
    padding: 1rem;
  }
}

// map stuff
#map-page-content{
  position: relative;
  top: -10rem;
}
#map-container{
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  padding-bottom: 100%;
  margin-bottom: -2rem;
}
.world-map{
  position: absolute;
  max-height: 100%;
  width: 140%;
  left: -7rem;
  top: 0;
}
path:hover{
  stroke: $red-dark !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: $red-dark !important;
  cursor: pointer;
}

#tooltip {
  position: absolute;   
  display: none;
  width: 100px;
  background-color: $main-color;
  color: white;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  font-size: 14px;
  opacity: .9;
}

@media (max-width: 767px) {
  #map-container{
    margin-top: 12rem;
    margin-bottom: -6rem;
  }
  .world-map{
    left: 0;
    width: auto;
  }
}