body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D47A1;
  color: #3a3f2a;
  font-size: 18px;
}
.mr1{
  margin-right: 1rem;
}

.nav{
  position: fixed;
  width: 15rem;
  top: 0rem;
  margin: 1rem;
}
h1{
  font: 300 2.25rem/0.85 'Roboto', sans-serif;
  color: #FFF;
}
h1 .word{
  font-weight: 500;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #f1f1f1;
  margin: 1em 0;
  padding: 0; 
}
.feedContainer{
  width: 90%;
  max-width: 45rem;
  margin: 3rem auto;
}
.add-btn{
  padding: 0.5rem 2rem;
  margin: 1rem auto 0;
  display: block;
  border: none;
  background-color: #0D47A1;
  color: #FFF;
  font-weight: bold;
  border-radius: 50px;
}
.add-btn:disabled{
  background-color: #82B1FF;
}
form{
  background-color: #e1e2e1;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin-bottom: 3px;
  padding: 1rem;
  background: #fff;
}
.new-superstition{
  width: 100%;
  height: 130px;
  border: none;
  font: 300 2rem/1.5 "Open Sans", sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  resize: none;
}
.new-superstition:focus{
  outline: none;
  border: 2px solid #0D47A1;
}
.options-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
select{
  max-width: 14rem;
  height: 2.25rem;
  font: 300 1rem/1.7 'Open Sans', sans-serif;
}
select:focus{
  outline: none;
}
.type-select label{
  vertical-align: super;
}
.upvotes{
  float: right;
}
.info{
  font: 300 0.875rem/1.7 'Open Sans', sans-serif;
}
.info img{
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: sub;
}


/* radio buttons */
.form-radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  height: 1.875rem;
  width: 1.875rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;     
  margin-right: 0.5rem;
  outline: none;
}
.form-radio:checked::before{
  position: absolute;
  font: 0.75rem/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.form-radio:hover{
  background-color: #f1f1f1;
}
.form-radio:checked{
  background-color: #f1f1f1;
}
label{
  font: 300 1rem/1.7 'Open Sans', sans-serif;
  cursor: pointer;
  margin-right: 1rem;
} 


/* media queries */
@media (max-width: 767px) {
  .nav{
    position: static;
  }
  .new-superstition{
    height: 230px;
  }
}