body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #457eca;
  color: #3a3f2a;
}
form{
  width: 80%;
  max-width: 45rem;
  margin: 5rem auto;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
}
.new-superstitions{
  width: 100%;
  border: none;
  font-size: 1rem;
}