:root {
  --main-color: #3a3f2a;
  --dark-blue: #143569;
  --yellow: #ffe277;
  --pink: #ea3de5;
  --pink-light: #ff77ff;
  --light-gray: #f1f1f1;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  color: var(--main-color);
  font-size: 18px;
}
.nav{
  position: fixed;
  width: 15rem;
  top: 0rem;
  margin: 1rem;
}
h1{
  font: 300 2.25rem/0.85 'Roboto', sans-serif;
  color: var(--yellow);
  margin-bottom: 1rem;
}
h1 span{
  font-weight: 500;
}
h2{
  color: white;
  font: 500 1rem/1.25 "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
.social i{
  color: var(--pink);
  margin-right: 1rem;
  transition-duration: 3s;
}
.social i:hover{
  color: var(--pink-light);
  zoom: 110%;
}
hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--light-gray);
  margin: 0;
  padding: 0; 
}
.feedContainer{
  width: 90%;
  max-width: 45rem;
  margin: 3rem auto;
}
.add-btn{
  padding: 0.5rem 2rem;
  margin: 1rem auto 0;
  display: block;
  background-color: transparent;
  border: 2px solid var(--pink);
  color: var(--pink);
  font-weight: bold;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}
.add-btn:focus{
  outline: none;
}
.add-btn:hover:not(:disabled){
  background-color: var(--pink);
  color: var(--yellow);
}
.add-btn:disabled:hover{
  cursor: default;
}
form{
  background-color: var(--yellow);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  margin-bottom: 3px;
  background: #fff;
}
li:first-of-type{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
li:last-of-type{
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.supertition-text, .info{
  padding: 1rem;
  line-height: 1.5rem;
  position: relative;
}
.new-superstition{
  width: 100%;
  height: 130px;
  border: none;
  font: 300 2rem/1.5 "Open Sans", sans-serif;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  resize: none;
}
.new-superstition:focus{
  outline: none;
  border-color: var(--pink);
  box-shadow: 0 0 0 2px var(--pink);
}
.options-container{
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
select{
  max-width: 14rem;
  height: 2.25rem;
  font: 300 1rem/1.7 'Open Sans', sans-serif;
}
select:focus{
  outline: none;
}
.upvotes{
  position: absolute;
  right: 1rem;
  width: 3rem;
}
.upvotes i{
  color: var(--pink);
}
.empty-heart{
  transition-duration: 3s;
}
.empty-heart:hover i{
  color: var(--pink-light);
  zoom: 110%;
  cursor: pointer;
}
.info{
  font: 300 0.875rem/1.7 'Open Sans', sans-serif;
}
.info i{
  font-size: 1rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.info-box{
  margin-right: 1rem;
  min-width: 7rem;
  display: inline-block;
}

/* radio buttons */
.form-radio{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: var(--light-gray);
  height: 1.875rem;
  width: 1.875rem;
  border: 0;
  border-radius: 50%;
  cursor: pointer;     
  margin-right: 0.5rem;
  margin-top: 0;
  outline: none;
  vertical-align: middle;
}
.form-radio:checked::before{
  position: absolute;
  font: 0.75rem/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  color: var(--pink);
  content: '\02143';
  transform: rotate(40deg);
}
.form-radio:hover{
  background-color: var(--light-gray);
}
.form-radio:checked{
  background-color: var(--light-gray);
}
label{
  font: 300 1rem/1 'Open Sans', sans-serif;
  cursor: pointer;
  margin-right: 0.5rem;
} 


.sn-icons{
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #000;
  opacity: 0.2;
}
.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}
.slower-spin {
  -webkit-animation: fa-spin 10s infinite linear;
  animation: fa-spin 10s infinite linear;
}
.sn-icons i:nth-of-type(1){
  position: absolute;
  bottom: 2.2rem;
  right: 7rem;
  font-size: 2.5rem;
}
.sn-icons i:nth-of-type(2){
  position: absolute;
  bottom: 4.5rem;
  right: 4rem;
  font-size: 2.5rem;
}
.sn-icons i:nth-of-type(3){
  position: absolute;
  right: 4rem;
}
.sn-icons i:nth-of-type(4){
  position: absolute;
  bottom: 4.5rem;
  right: 1.5rem;
}


/* media queries */
@media (max-width: 767px) {
  .nav{
    position: static;
  }
  .new-superstition{
    height: 230px;
  }
}